/* src/App.css */
nav{
  background-color: black;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  
}
nav img{
  width:20px;
  height:30px;
}
button{
  background-color: green;
  color:white;
  border-radius: 20%;
  font-weight: 10px;
  padding: 1%;
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
 gap:40px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a:hover {
  text-decoration: underline;
}
